.login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282C34;
}
.login-header {
    text-align: center;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#3D7AAC 1%, #282C34);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.login-divider {
    height: 2px;
    background-color: #282C34;
    box-shadow: 0px 1px 2px 0px rgb(37, 37, 37);
    margin-bottom: 12px;
}
.login-form {
    border-radius: 10px;
    width: 280px;
    background: linear-gradient(0deg, rgb(88,88,88) 0%, rgb(147, 147, 148) 20%, rgb(209,209, 209) 100%);
    padding: 24px;
    box-shadow: 0px 0px 80px 0px black;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-inputs > label {
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 1px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    color: #282C34;
}
.login-inputs > input {
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 8px; 
}
.login-inputs > input:focus {
    outline: none;
}
.login-inputs > .login-btn {
    background-color: rgb(5, 138, 23);
    height: 40px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    outline: none;
}
.login-inputs > .login-btn:hover {
    background-color: rgb(0, 179, 24);
    height: 40px;
    border-radius: 6px;
    border: none;
    color: #282C34;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    cursor: pointer;
    outline: none;
}
/* Shake form on invalid login */
@keyframes shake {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.shake {
    display: inline-block;
    animation: shake 0.1s;
    animation-iteration-count: 3;
    animation-delay: 0.0s;
}

@media only screen and (max-width: 568px) and (min-width: 240px) {
    .login-form {
        border-radius: 10px;
        width: 220px;
        background: linear-gradient(0deg, rgb(88, 88, 88) 0%, rgb(147, 147, 148) 20%, rgb(209, 209, 209) 100%);
        padding: 22px;
        box-shadow: 0px 0px 80px 0px black;
    }
}

