.profile-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #282C34;
}

.profile-card-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    height: 400px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    
}

.profile-img-icon {
    height: 60px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(130, 180, 196); */
    /* border-radius: 10%; */
    /* padding: 30px; */
    /* border: solid 1px rgb(71, 71, 71); */
}
.profile-img-icon:hover {
    cursor: pointer;
    transform: scale(1.15);
}
img[alt*="profileImage"] {
    height: 200px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

.profile-card-img {
    display: flex;
    height: 200px;
    width: 100%;
    margin: 0px;
    border-radius: 14px;
    /* border-bottom-left-radius: 10px; */
    /* background-color: rgba(89, 114, 138, 0.932); */
    align-items: center;
    justify-content: center;
}
.profile-card-info {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(252, 252, 215); */
    /* padding: 2px; */
    /* margin-top: 10px; */
}
.profile-card-name {
    margin-top: 16px;
    margin-bottom: 0px!important;
}
.profile-background {
    font-size: 14px;
    margin-bottom: 0;
}
.profile-drone-exp {
    font-size: 14px;
}

/* Modal Image Selector CSS */
.closeModalBtn {
    color: blue;
    border-radius: 6px;
    padding: 6px;
}
.closeModalBtn:hover {
    cursor: pointer;
    color: blue;
    font-weight: 600;
    text-decoration: underline;
}
.ReactModal__Content {
    outline: none;
    border: none!important;
    box-shadow: 0px 0px 20px 0px rgb(50, 61, 70);
    background-color: rgb(247, 247, 247)!important;
    height: 110px;    
}