.public-container {
    min-height: 800px;
    display: flex;
    color: white;
    background-color: #282C34;
    /* width: 100%; */
    
}
.public-container-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* height: auto; */
    /* width: 100%; */
    margin-top: 60px;
    background-color: #282C34;
    padding: 10px;
}
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: rgba(92, 92, 114, 0.862);
    margin: 10px;
}
