.settings-container {
    height: 100vh;
    background-color: #282C34;
    padding: 20px;
}
.settings-top-pane {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}
.settings-flex-container {
    display: flex;
}
.settings-left-pane {
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 200px;
    background-color: white;
    padding: 5px;
}
.settings-left-pane-link {
    padding: 10px;
    margin: 10px!important;
    border: solid 1px #282C34;
    box-shadow: -6px 0px 0px #282C34;
    background-color: rgb(230, 230, 230);
    width: 150px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    color: #282C34;
    text-decoration: none;
}

.settings-right-pane {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    border-bottom-right-radius: 20px;
}

