.signup-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282c34;

}
.signup-header {
    text-align: center;
    letter-spacing: 1px;
    /* color: #3D7AAC; */
    background: -webkit-linear-gradient(#3D7AAC 1%, #282c34 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.signup-divider {
    height: 2px;
    background-color: #282c34;
    box-shadow: 0px 1px 2px 0px rgb(37, 37, 37);
    
}
.signup-form {
    border-radius: 10px;
    width: 280px;
    /* background-color: rgb(201, 201, 201); */
    background: linear-gradient(0deg, rgb(88, 88, 88) 0%, rgb(147, 147, 148) 20%, rgb(209, 209, 209) 100%);
    padding: 24px;
    box-shadow: 0px 0px 80px 0px black;
}

.signup-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-inputs > label {
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 1px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    color: #282c34;
}

.signup-inputs > input {
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 8px;
    
}
/* remove input outline */
.signup-inputs > input:focus {
    outline: none;
}

.signup-inputs > .signup-btn {
    background-color: rgb(5, 138, 23);
    height: 40px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    outline: none;
}

.signup-inputs > .signup-btn:hover {
    background-color: rgb(0, 179, 24);
    height: 40px;
    border-radius: 6px;
    border: none;
    color: #282c34;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    cursor: pointer;
    outline: none;
}