.navbar {
    /* background-color: rgba(14, 14, 14, 0.973)!important; */
    background-color: #282C34;
    /* box-shadow: 0 2px 10px -2px #3d3d3d; */
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    display: flex;
    height: 40px;
    width: 100%;
    position: fixed;
    padding: 10px;
}

.headerUsername {
    float: right;
    color: white;
}

.navbar > svg:hover {
    cursor: pointer;
}

.dfLogo {
    height: 30px;
    width: 30px;
    background-color: rgb(32, 49, 58);
    padding: 2px;
    margin-left: 10px;
    border-radius: 3px;
}

/* search form */
.navbar > .nav-left > form {
    margin-left: 10px;
}
.navbar > .nav-left > form > svg {
    position: absolute;
    padding-top: 5px;
    padding-left: 3px;
}
.navbar > form > input {
    width: 190px;
}
.searchField {
    background-color: rgb(228, 228, 228);
    padding-left: 20px;
    height: 28px;
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 13px;
    align-items: center;
}
.searchField:focus-within {
    background-color: white;
    padding-left: 24px;
    height: 28px;
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 14px;
    align-items: center;
    color: #282c34;
}
.nav-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}
.user-icon {
    margin-left: 6px;
    background: linear-gradient(0deg, #5c5c5c 0%, rgb(109, 109, 114) 20%, rgb(255, 255, 255) 100%);
    border-radius: 50%;
    padding: 6px;
}
.user-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.dropdown-visible {
    position: absolute;
    top: 60px;
    right: 0;
    margin-right: 40px;
    height: 220px;
    width: 158px;
    background-color: rgb(235, 233, 233);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown-divider {
    height: 1px;
    background-color: #747474;
    margin-top: 10px;
    margin-bottom: 2px;
}
.dropdown-divider-t {
    height: 1px;
    background-color: #747474;
    margin-top: 20px;
    margin-bottom: 2px;
}
.dropdown-header {
    font-size: 16px;
    text-decoration: bold;
    color: black;
}
.dropdown-signout {
    font-size: 16px;
    text-decoration: bold;
    color: black;
}

.view-profile-btn {
    outline: none;
    border: solid 0.5px #3D7AAC;
    border-radius: 28px;
    color: #3D7AAC;
    background-color: white;
    padding: 6px;
    text-align: center;
    font-size: 14px;
}
.view-profile-btn:hover {
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    color: white;
    background-color: #83abcc;
    outline: none;
    border: solid 0.5px #3D7AAC;
    border-radius: 28px;
    padding: 6px;
    text-align: center;
    font-size: 14px;
}
.dropdown-visible > a {
    text-decoration: none;
}
a.dropdown-sub {
    font-size: 14px;
    color: rgb(119, 118, 118);
    margin-top: 10px;
}
a.dropdown-sub:hover {
    transition: all 0.25s ease-in-out;
    color: black;
    text-decoration: underline;
}
a.dropdown-signout {
    font-size: 16px;
    text-decoration: bold;
    color: black;
}
a.dropdown-signout:hover {
    transition: all 0.25s ease-in-out;
    color: black;
    text-decoration: underline;
}

  /* hide user name if screen < 500px */
  @media only screen and (max-width: 500px) {
    .user-name {
        display: none;
    }
}
